*.swp

prime/prime1
prime/prime2
prime/prime3
prime/gmpprime1
prime/prime10trillions
primemisc/emirp
primemisc/palindromicprime
primemisc/palindromicprime2
primemisc/primedigit
primemisc/twinprime
primemisc/twinprime2
primemisc/brotherprime
primemisc/brotherprime2
primemisc/primegen
primemisc/fermat
primemisc/mersenne
perfect/perfect
perfect/perfectarray
perfect/multiplyperfect
yuuai/yuuai
yuuai/konyaku
yuuai/syakou
misc/pythagoras
misc/collatz
misc/goldbach
misc/goldbach2
misc/ogr
misc/ogr2
