*.swp

prime/prime1
prime/prime2
prime/prime3
prime/gmpprime1
prime/prime10trillions
primemisc/emirp
primemisc/palindromicprime
primemisc/palindromicprime2
primemisc/primedigit
primemisc/primedigit2
primemisc/twinprime
primemisc/twinprime2
primemisc/brotherprime
primemisc/brotherprime2
primemisc/primegen
primemisc/fermat
primemisc/mersenne
perfect/perfect
perfect/perfectarray
perfect/multiplyperfectarray
yuuai/yuuai
yuuai/yuuaiarray
yuuai/konyaku
yuuai/konyakuarray
yuuai/syakou
yuuai/syakouarray
misc/pythagoras
misc/collatz
misc/goldbach
misc/ogr
misc/ogr2
