*.swp

prime/prime1
prime/prime2
prime/prime3
prime/gmpprime1
prime/prime10trillions
primemisc/emirp
primemisc/palindromicprime
primemisc/palindromicprime2
primemisc/primedigit
primemisc/primedigit2
primemisc/twinprime
primemisc/twinprime2
primemisc/brotherprime
primemisc/brotherprime2
primemisc/primegen
primemisc/fermat
primemisc/mersenne
perfect/perfect
perfect/perfectarray
perfect/multiplyperfectarray
perfect/gmpperfectarray
perfect/gmpmultiplyperfectarray
yuuai/yuuai
yuuai/yuuai2
yuuai/konyaku
yuuai/konyaku2
yuuai/syakou
yuuai/syakou2
misc/pythagoras
misc/collatz
misc/collatz2
misc/goldbach
misc/goldbach2
misc/gmpgoldbach2
misc/ogr
misc/ogr2
